.inverted {
  filter: invert(100%);
}

/* pre code{
    color: white;
} */

.code {
  display: block;
  padding: 25px;
  border-radius: 20px;
}

.comment {
  filter: opacity(60%);
  font-style: italic;
}

span.highlighted {
  font-weight: 700;
}

h1 {
  display: block;
  border-bottom: solid #888 1px;
  padding-bottom: 0.4rem;
}

.js {
  display: flex;
  width: auto;
  height: 50vh;
  background-color: #f6d91b;
  align-items: center;
  justify-content: center;
}

.js h3 {
  color: black;
  font-weight: 600;
}

.separated {
  display: block;
  border-bottom: solid #888 1px;
  padding-bottom: 0.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.ordenamiento {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2em 0;
}

.sorts {
  margin: 0;
}

.sorts img {
  width: 300px;
}

.algorithms {
  width: auto;
  max-width: 899px;
  min-width: 300px;
}

.img-article {
  max-width: 80%;
  height: auto;
}
