.inverted {
    filter: invert(100%);
}

/* pre code{
    color: white;
} */

.code{
    display: block;
    padding: 25px;
    border-radius: 20px;
}

span.comment{
    filter:opacity(60%);
    font-style: italic;
}

span.highlighted{
    font-weight: 700;
}

h1{
    display: block;
    border-bottom: solid #888 1px;
    padding-bottom: .4rem;
}